{% extends 'login_base.html' %}
{% load bootstrap3 i18n %}

{% block head_title %}{{ block.super }}Password Reset{% endblock %}
{% block base_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><i class="fa fa-paw"></i> <b>Work</b>mate</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form class="form" method="post" id="login-form" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                {% for field in form %}
                    {% bootstrap_field field show_label=False %}
                {% endfor %}
                {% bootstrap_button button_type='submit' button_class='btn-primary btn-block btn-flat' content='Reset my password' %}
            </form>
        </div>
    </div>
{% endblock %}
