<div class="wm-footer ui inverted vertical segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h4 class="ui inverted header">Network</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Docs</a>
            <a href="https://github.com/bigmassa/workmate" target="_blank" class="item">Github</a>
            <a href="https://github.com/bigmassa/workmate/issues" target="_blank" class="item">Issues</a>
          </div>
        </div>
        <div class="nine wide column">
          <h4 class="ui inverted header">Workmate</h4>
          <p>Some blurb that needs changing.</p>
        </div>
      </div>
    </div>
  </div>