{% load i18n %}

{% if is_paginated %}
    <div class="ui pagination menu">
        {% if page_obj.has_previous %}
            <a class="item" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="item active">{{ page_num }}</a>
            {% else %}
                <a class="item" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="item" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
    </div>
{% endif %}