{% load i18n staticfiles %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% include 'workmate/partials/profile_picture.html' with class='user-image' %}
        <span class="hidden-xs">{{ user.get_full_name }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            {% include 'workmate/partials/profile_picture.html' with class='img-circle' %}
            <p>{{ user.get_full_name }} <small>Member since {{ user.date_joined|date:"jS \o\f F Y" }}</small></p>
        </li>
        <li class="user-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="{% url 'usersetting-update' %}">{% trans 'Edit your user settings' %}</a>
                </div>
            </div>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a href="{% url 'password_change' %}" class="btn btn-default btn-flat">Change Password</a>
            </div>
            <div class="pull-right">
                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
{% if user.is_staff %}
<li><a href="{% url 'admin:index' %}"><i class="fa fa-gears"></i></a></li>
{% endif %}