{% extends 'workmate/base.html' %}
{% load i18n filter_tags staticfiles %}

{% block page_title %}{{ block.super }} | Agile{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block left_nav_content %}
    <a class="item" href="{% url 'agile-index' %}">{% trans 'Agile' %}</a>
{% endblock %}

{% block right_nav_content %}{% endblock %}

{% block content %}
    <agile-app>
        <div class="ui active centered medium text loader">{% trans 'Loading' %}</div>
    </agile-app>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'workmate/dist/vendor.min.js' %}"></script>
    <script src="{% static 'workmate/dist/agile.min.js' %}"></script>
{% endblock %}