[run]
branch = True
source = workmate
omit =
    workmate/migrations/*
    workmate/tests/*
    workmate/test_utils/*
parallel = true

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
