{% load menu_tags %}

{% regroup nodes by menu_title as menu_list %}

<div class="content">
{% for menu in menu_list %}
    <h4 class="ui inverted dividing header">{{ menu.grouper }}</h4>
    <div class="ui grid">
        <div class="doubling eight column row">
            {% for node in menu.list %}
            <div class="column">
                <a class="wm-menu-item" href="{{ node.get_absolute_url }}">
                    <h5 class="ui center aligned icon header">
                        <i class="tiny circular {{ node.icon }} icon"></i>
                        {{ node.get_node_title }}
                    </h5>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>