{% load menu_tags %}

{% for child in children %}
	{% if child.children %}
		<li class="pure-menu-item pure-menu-has-children">
			<a href="#" class="pure-menu-link">{{ child.get_menu_title }}</a>
			<ul class="pure-menu-children">
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
			</ul>
		</li>
    {% else %}
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        </li>
    {% endif %}
{% endfor %}
