.layout {
    padding: 20px;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #333
}

.menu-toggle-label {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
}

.menu-toggle-label~.overlay-menu{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

input#menu-toggle {
    display: none;
}

input#menu-toggle:checked~.menu-toggle-label {
	color: #fff;
}

input#menu-toggle~.menu-toggle-label .menu-toggle-out,
input#menu-toggle:checked~.menu-toggle-label .menu-toggle-in {
	display: inline-block;
}

input#menu-toggle:checked~.menu-toggle-label .menu-toggle-out,
input#menu-toggle~.menu-toggle-label .menu-toggle-in {
	display: none;
}

input#menu-toggle:checked~.overlay-menu{
	opacity: 1;
    z-index: 99;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

