{% extends 'workmate/base.html' %}
{% load i18n staticfiles %}

{% block page_title %}Workmate | New Contact{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block title_extra_content %}{% endblock %}
{% block title_h1 %}New Contact{% endblock %}
{% block title_sub_header %}{% blocktrans %}Create a new contact.{% endblocktrans %}{% endblock %}

{% block content %}
    <form class="ui form" method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {% include 'workmate/partials/form_field.html' %}
        {% endfor %}
        <a class="ui button" href="{% url 'contact-list' %}">Cancel</a>
        <button type="submit" class="ui primary button">Save</button>
    </form>
{% endblock %}

{% block extra_js %}{% endblock %}