{% extends 'workmate/base.html' %}

{% block title %}Workmate | Delete Contact{% endblock %}

{% block title_tag %}Delete Contact{% endblock %}
{% block title_controls %}{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned" method="post" novalidate>
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <div class="pure-controls">
            <a class="pure-button" href="{{ object.get_absolute_url }}"><i class="fa fa-times"></i> Cancel</a>
            <button type="submit" class="pure-button"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </form>
{% endblock %}