{% extends 'workmate/base.html' %}
{% load i18n %}

{% block page_title %}{{ block.super }} | Delete Contact{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block title_extra_content %}
    <div class="ui right floated main menu">
        <a class="list popup icon item" data-content="List Contacts" href="{% url 'contact-list' %}">
            <i class="list icon"></i>
        </a>
        <a class="pencil popup icon item" data-content="Edit Contact" href="{% url 'contact-update' object.pk %}">
            <i class="pencil icon"></i>
        </a>
    </div>
{% endblock %}
{% block title_h1 %}Delete Contact{% endblock %}
{% block title_sub_header %}{% blocktrans %}Delete {{ object }}.{% endblocktrans %}{% endblock %}

{% block content %}
    <form class="ui form" method="post" novalidate>
        {% csrf_token %}
        <a class="ui button" href="{{ object.get_absolute_url }}">Cancel</a>
        <button type="submit" class="ui primary button">Confirm</button>
    </form>
{% endblock %}

{% block extra_js %}{% endblock %}