{% extends 'base.html' %}
{% load bootstrap3 i18n %}

{% block head_title %}{{ block.super }}Delete Contact{% endblock %}
{% block page_title %}Delete Contact{% endblock %}
{% block page_description %}{{ object }}{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block left_nav_content %}
    <li><a href="{% url 'contact-list' %}">{% trans 'Contacts' %}</a></li>
    <li><a href="{% url 'contact-update' object.pk %}">{% trans 'Edit Contact' %}</a></li>
{% endblock %}

{% block right_nav_content %}{% endblock %}

{% block base_content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'Delete Contact Form' %}</h3>
        </div>
        <form class="form-horizontal"  method="post" novalidate>
            {% csrf_token %}
            <div class="box-body">
                {% bootstrap_button button_type='submit' button_class='btn-primary btn-flat pull-right' content='Confirm' %}
                <a class="btn btn-default btn-flat" href="{{ object.get_absolute_url }}">{% trans 'Cancel' %}</a>
            </div>
        </form>
        <div class="box-footer">
            {% trans "Delete an existing contact." %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}