{% extends 'workmate/base.html' %}
{% load i18n staticfiles %}

{% block page_title %}{{ block.super }} | Edit Contact{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block title_extra_content %}
    <div class="ui right floated main menu">
        <a class="list popup icon item" data-content="List Contacts" href="{% url 'contact-list' %}">
            <i class="list icon"></i>
        </a>
        <a class="delete popup icon item" data-content="Delete Contact" href="{% url 'contact-delete' object.pk %}">
            <i class="trash icon"></i>
        </a>
    </div>
{% endblock %}
{% block title_h1 %}Edit Contact{% endblock %}
{% block title_sub_header %}{% blocktrans %}Edit {{ object }}.{% endblocktrans %}{% endblock %}

{% block content %}
    <form class="ui form" method="post" novalidate>
        {% csrf_token %}
        {% include 'workmate/partials/form_errors.html' %}
        {% for field in form %}
            {% include 'workmate/partials/form_field.html' %}
        {% endfor %}
        <a class="ui button" href="{% url 'contact-list' %}">Cancel</a>
        <button type="submit" class="ui primary button">Save</button>
    </form>
{% endblock %}

{% block extra_js %}{% endblock %}