{% extends 'workmate/base.html' %}
{% load i18n filter_tags %}

{% block page_title %}{{ block.super }} | Contacts{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block title_extra_content %}
    <div class="ui compact menu">
        {% show_tags_filter 'contact' 'contact-list' %}
    </div>
    <div class="ui right floated main menu">
        <a class="plus popup icon item" data-content="Add Contact" href="{% url 'contact-create' %}">
            <i class="plus icon"></i>
        </a>
    </div>
{% endblock %}
{% block title_h1 %}{% trans 'Contacts' %}{% endblock %}
{% block title_sub_header %}{% blocktrans %}Add, edit, create and delete contacts.{% endblocktrans %}{% endblock %}

{% block sidebar_content %}{% endblock %}

{% block content %}
    <div class="ui divided items">
        {% for contact in object_list %}
        <div class="item">
            <div class="content">
                <a class="header" href="{{ contact.get_absolute_url }}">{{ contact.name }}</a>
                <div class="description">
                    <p>
                        {% if contact.mobile_number %}
                        <i class="mobile icon"></i>{{ contact.mobile_number }}&nbsp;
                        {% endif %}
                        {% if contact.home_number %}
                        <i class="home icon"></i>{{ contact.home_number }}&nbsp;
                        {% endif %}
                        {% if contact.work_number %}
                        <i class="building icon"></i>{{ contact.work_number }}&nbsp;
                        {% endif %}
                        {% if contact.email_address %}
                        <i class="at icon"></i><a href="mailto:{{ contact.email_address }}">{{ contact.email_address }}</a>&nbsp;
                        {% endif %}
                        {% if contact.website %}
                        <i class="world icon"></i><a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a>&nbsp;
                        {% endif %}
                    </p>
                    <p>
                        {% if contact.address %}
                        <i class="marker icon"></i><a href="http://maps.google.com/?q={{ contact.address }}" target="_blank">{{ contact.address }}</a>
                        {% endif %}
                    </p>
                </div>
                <div class="extra">
                    {% for tag in contact.tags.all %}
                    <div class="ui tag label">{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'workmate/partials/paginator.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}