{% extends 'workmate/base.html' %}
{% load i18n filter_tags %}

{% block page_title %}{{ block.super }} | Contacts{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block left_nav_content %}
    <a class="item" href="{% url 'contact-list' %}">{% trans 'Contacts' %}</a>
    <a class="popup icon item" data-content="Add Contact" href="{% url 'contact-create' %}">
        <i class="plus icon"></i>
    </a>
{% endblock %}

{% block right_nav_content %}{% endblock %}

{% block content %}
    <div class="ui compact main menu">
        {% show_tags_filter 'contact' 'contact-list' %}
    </div>
    {% for contact in object_list %}
        <div class="ui padded segment">
            <h4 class="ui header"><a href="{{ contact.get_absolute_url }}">{{ contact.name }}</a></h4>
            <div class="ui relaxed list">
            {% if contact.mobile_number %}
                <div class="item">
                    <i class="mobile icon"></i><div class="content">{{ contact.mobile_number }}</div>
                </div>
            {% endif %}
            {% if contact.home_number %}
                <div class="item">
                    <i class="home icon"></i><div class="content">{{ contact.home_number }}</div>
                </div>
            {% endif %}
            {% if contact.work_number %}
                <div class="item">
                    <i class="building icon"></i><div class="content">{{ contact.work_number }}</div>
                </div>
            {% endif %}
            {% if contact.email_address %}
                <div class="item">
                    <i class="at icon"></i><div class="content"><a href="mailto:{{ contact.email_address }}">{{ contact.email_address }}</a></div>
                </div>
            {% endif %}
            {% if contact.website %}
                <div class="item">
                    <i class="world icon"></i><div class="content"><a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a></div>
                </div>
            {% endif %}
            {% if contact.address %}
                <div class="item">
                    <i class="marker icon"></i><div class="content"><a href="http://maps.google.com/?q={{ contact.address }}" target="_blank">{{ contact.address }}</a></div>
                </div>
            {% endif %}
            </div>
            {% if contact.tags.all %}
                <div class="ui divider"></div>
                {% for tag in contact.tags.all %}
                <div class="ui small tag label">{{ tag }}</div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    {% include 'workmate/partials/paginator.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}