{% extends 'workmate/base.html' %}
{% load i18n filter_tags staticfiles %}

{% block page_title %}{{ block.super }} | Contacts{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block left_nav_content %}
    <a class="item" href="{% url 'contact-list' %}">{% trans 'Contacts' %}</a>
    <a class="popup icon item" data-content="Add Contact" href="{% url 'contact-create' %}">
        <i class="plus icon"></i>
    </a>
{% endblock %}

{% block right_nav_content %}{% endblock %}

{% block content %}
    <contacts-app>
        <div class="ui active centered medium text loader">{% trans 'Loading' %}</div>
    </contacts-app>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'workmate/dist/vendor.min.js' %}"></script>
    <script src="{% static 'workmate/dist/main.min.js' %}"></script>
{% endblock %}