/*
 * Core CSS
 * -------------
 */

.layout-boxed {
  background: none;
}

// allow pointer events
.clickable {
  pointer-events: auto !important;
  cursor: pointer;
}

// margins
.margin-lr-2 {
  margin-left: 2px;
  margin-right: 2px;
}