/*
 * Overrides for ng2-select
 * -------------
 */

.ui-select-bootstrap {

  .dropdown-menu {
    border-radius: 0;
  }

  .ui-select-choices-row>a {
    padding: 6px 20px;
  }

}

.ui-select-bootstrap:not(.ui-select-multiple) {

  .btn-default,
  .btn-default:hover {
    background-color: #fff!important;
    border-color: #ddd;
  }

}