{% load menu_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}Workmate{% endblock %}</title>
        <!--<link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css' %}">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" href="{% static 'workmate/workmate.css' %}">
        {% block extra_css %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="basic minimal pushable">

        <div class="ui vertical inverted sidebar menu left">
            <div class="item">
                <div class="header">Menu Name</div>
                <div class="menu">
                    {% show_menu %}
                </div>
            </div>
        </div>
        <div class="ui black big launch right attached fixed button">
            <i class="content icon"></i>
            <span class="text">Menu</span>
        </div>
        <div class="pusher">
            <div class="full height">
                <div class="ui masthead vertical segment">
                    <div class="ui container">
                        <h1 class="ui header">
                            {% block title_h1 %}{% endblock %}
                            <div class="sub header">
                                {% block title_sub_header %}{% endblock %}
                            </div>
                        </h1>
                        <div class="ui divider"></div>
                        {% block title_extra_content %}{% endblock %}
                        {% include 'workmate/partials/messages.html' %}
                    </div>
                </div>

                <div class="ui main container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include 'workmate/partials/footer.html' %}

        <script src="{% static 'jQuery/jquery-2.1.4.min.js' %}"></script>
        <!--<script src="{% static 'semantic-ui/semantic.min.js' %}"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script src="{% static 'workmate/workmate.js' %}"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>