{% load i18n menu_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{% block base_url %}/{% endblock %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}Workmate{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'semantic/out/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'workmate/workmate.min.css' %}">
        {% block extra_css %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="popup icon item" data-content="Home" href="/"><i class="home icon"></i></a>
                <a class="grid launch icon popup item" data-content="Open Main Menu"><i class="grid layout icon"></i></a>
                {% block left_nav_content %}{% endblock %}
                <div class="right menu">
                    {% block right_nav_content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="wm-main ui container">
            {% include 'workmate/partials/messages.html' %}
            {% block content %}{% endblock %}
        </div>

        {% include 'workmate/partials/footer.html' %}

        <div class="wm-menu ui basic long fullscreen modal">
            <i class="close icon"></i>
            {% show_menu 'workmate/menu/grid_menu.html' %}
        </div>

        <script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'semantic/out/semantic.min.js' %}"></script>
        <script src="{% static 'workmate/workmate.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>