{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{{ block.super }}Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block title_extra_content %}{% endblock %}
{% block title_h1 %}{% blocktrans %}Home{% endblocktrans %}{% endblock %}
{% block title_sub_header %}{% blocktrans %}Welcome to workmate.{% endblocktrans %}{% endblock %}

{% block content %}{% endblock %}

{% block extra_js %}{% endblock %}