/* generic */
.floated.right {
    float: right;
}

/* header */
.ui.vertical.segment {
    position: relative;
    margin: 0em;
    min-height: 185px;
    padding: 3em 0em;
    border-bottom: none;
    box-shadow: none;
}

/* main */
.main.container {
    padding: 0em 0em 7em;
}

/* sidebar */
.fixed.launch.button {
    z-index: 99;
    position: fixed;
    display: none;
    top: 6.7em;
    left: 0px;
    width: 45px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
}

.ui.left.sidebar {
    z-index: 100;
}

.ui.left.sidebar .site.title {
    cursor: pointer;
}

@media only screen and (min-width: 1144px) {
    body.fixed-sidebar .ui.left.overlay.sidebar {
        -webkit-transform: none!important;
        transform: none!important;
    }

    body.fixed-sidebar .ui.left.sidebar ~ .fixed,
    body.fixed-sidebar .ui.left.sidebar ~ .pusher {
        padding-left: 3em;
        padding-right: 3em;
        margin-left: 260px;
    }

    body.fixed-sidebar .animating.ui.overlay.sidebar,
    body.fixed-sidebar .ui.visible.overlay.sidebar {
        transition: none!important;
    }

    body.fixed-sidebar .fixed.launch.button {
        z-index: 0;
    }
}

/* main menu modal */
.menu.modal .close.icon {
    font-size: 1.5em;
    opacity: 0.8;
    cursor: pointer;
}

.menu.modal .close.icon:hover {
    opacity: 1;
}

.menu.modal .header {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem!important;
}

.menu.modal .content {
    padding: 1em;
}

.menu.modal .grid > .column {
    text-align: center;
    padding-top: 1em;
}

.menu.modal .grid .column a {
    color: #fff;
    opacity: 0.8;
    font-size: 0.8em;
}

.menu.modal .grid .column a:hover {
    opacity: 1;
}

.menu.modal .grid .column a .icon {
    height: 1em;
    display: block;
    margin: 0em auto 0.25em;
    font-size: 2em;
}

.footer {
    z-index: 101;
}

