.ui.vertical.segment {
    position: relative;
    z-index: 1;
    margin: 0em;
    min-height: 185px;
    padding: 3em 0em;
    border-bottom: none;
    box-shadow: none;
}
.main.container {
    padding: 1em 0em 7em;
}
.ui.vertical.footer.segment {
    z-index: 103;
}

.fixed.launch.button {
  z-index: 101;
  display: none;
  position: fixed;
  top: 7em;
  left: 0px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}
.launch.button .icon {
  margin-left: 0px;
}

.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  width: 130px;
}
.fixed.launch.button:hover .text {
  opacity: 1;
}

/* Position Change */
.pushable.left.overlay .fixed.launch.button {
  transform: translate3d(0, 0, 0);
}
.pushable.overlay.left.pushed .fixed.launch.button {
  transform: translate3d(260px, 0, 0);
}

.ui.visible.left.overlay.sidebar {
    z-index: 102;
}