{% extends 'base.html' %}
{% load bootstrap3 i18n staticfiles %}

{% block head_title %}{{ block.super }}Edit User Settings{% endblock %}
{% block page_title %}Edit User Settings{% endblock %}
{% block page_description %}Settings for your account{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block left_nav_content %}{% endblock %}

{% block right_nav_content %}{% endblock %}

{% block base_content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'My Settings Form' %}</h3>
        </div>
        <form class="form-horizontal"  method="post" novalidate>
            {% csrf_token %}
            <div class="box-body">
                {% bootstrap_form_errors form %}
                {% for field in form %}
                    {% bootstrap_field field layout='horizontal' %}
                {% endfor %}
                {% bootstrap_button button_type='submit' button_class='btn-primary btn-flat pull-right' content='Save' %}
                <a class="btn btn-default btn-flat" href="/">{% trans 'Cancel' %}</a>
            </div>
        </form>
        <div class="box-footer">
            {% trans "Edit your settings." %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}